.navbar-brand h1{
font-size: 2rem;
font-family: fantasy;
font-style: italic;
font color: red;

}

.carousel-inner img{
  width:1500px;
  height:500px;
}


.carousel-caption h1{
font-family: fantasy; 

}